body {
  background-color: black;
  margin: 0px;
  font-family: "VCR";
  font-size: 24px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "VCR";
  src: url(assets/fonts/VCR.ttf) format("truetype");
  font-weight: bold;
}

.fade {
  animation: fadeInAndOut 2s linear 0s 1 normal forwards;
  opacity: 0;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.click-to-start:hover {
  color: #ed1c24;
  cursor: pointer;
}
